<section class="py-5">
  <h2 class="text-center mb-4">Habilidades Técnicas</h2>
  <div *ngIf="habilidadesTecnicas$ | async as habilidadesObj; else cargandoSkills">
    <div *ngIf="habilidadesObj && (habilidadesObj | keyvalue).length > 0; else sinSkills" class="list-group">
      <div *ngFor="let habilidad of habilidadesObj | keyvalue" class="list-group-item">
        <strong>{{ habilidad.key }}:</strong> {{ habilidad.value }}
      </div>
    </div>
    <ng-template #sinSkills>
      <p class="text-center">No hay habilidades técnicas para mostrar.</p>
    </ng-template>
  </div>
  <ng-template #cargandoSkills>
    <p class="text-center">Cargando habilidades técnicas...</p>
  </ng-template>
</section>